* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    font-family: 'Helvetica Neue', sans-serif;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
}


/* Header */
.navbar {
    width: 100%;
    height: 300px;
    background-color: #0020F4;
    padding: 30px;
    font-size: 15px;
}

.navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1280px;
    margin: 0 auto;
}

.navbar-logo img {
    width: 105px;
    height: 55px;
}

.navbar-logo img:hover {
    filter: contrast(90%);
}

.navbar ul {
    display: flex;
    align-items: center;
}

.navbar li {
    margin: 0 10px;
    font-weight: bold;
}

.navbar button {
    margin: 0 10px;
}

.navbar a {
    color: #ffffff;
}

.navbar-nav li {
    position: relative;
    padding: 14px 7px;
}

.navbar-nav li::after {
    position: absolute;
    content: "";
    width: 50%;
    height: 1px;
    bottom: 0;
    left: 25%;
    background: #ffffff;
    transition: transform 0.3s;
    transform: scaleX(0);
    transform-origin: right;
}

.navbar-nav li, a:hover {
    color: #ffffffef;
}

.navbar-nav li:hover::after {
    transform: scaleX(1);
    transform-origin: left;
}

.btn {
    font-weight: bold;
    cursor: pointer;
    display: inline-block;
    background: none;
    border: 1px #000 solid;
    border-radius: 28px;
    padding: 7px 16px;
    line-height: 1.2;
    text-align: center;
    text-decoration: none;
}

.contact {
    width: 140px;
    height: 50px;
    background-color: #ffffff;
    color: #000;
}

.contact:hover {
    background-color: #f7f4f4;
}

/* Section */
.flex {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.section-top img {
    width: 1000px;
    height: 500px;
    margin-top: -100px;
}

.section-top h2 {
    margin-top: 20px;
}

.section-bottom img {
    width: 225px;
    height: 225px;
    margin: 40px 15px;
}

.section-bottom p {
    width: 800px;
    margin-bottom: 15px;
    font-size: 16px;
}

.info {
    margin-top: 30px;
    width: 350px;
    height: 50px;
    background-color: #0A22F4;
    color: #ffffff;
}

.info:hover {
    background-color: #0b1dc0;
}

/* Footer */
footer {
    background-color: #0A22F4;
    margin-top: 150px;
    height: auto;
    width: 100%;
}

.footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1280px;
    margin: 0 auto;
    padding-top: 150px;
}

footer p {
    color: #ffffff;
    width: 400px;
    font-size: 16px;
    margin-top: 20px;
}

footer h3 {
    color: #ffffff;
    font-size: 22px;
}

footer span {
    color: #ffffff;
    font-weight: bold;
}

.footer-contact img {
    width: 50px;
    height: 50px;
    margin-right: 10px;
}

.footer-contact {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
}

.call {
    margin-right: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.inbox {
    margin-right: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-map iframe {
    width: 400px;
    height: 200px;
    border-radius: 15px;
    margin-top: 40px;
    -webkit-box-shadow: -9px 9px 0px -1px #FFFFFF;
    box-shadow: -9px 9px 0px -1px #FFFFFF;
}

.forms {
    padding-top: 50px;
    margin-bottom: 20px;
}

.submit {
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
}


.input-fields input {
    width: 400px;
    height: 50px;
    font-size: 16px;
    background-color: transparent;
    border: none;
    outline: none;
    padding: 10px;
    border-bottom: 1px solid #ffffff60;
    color: #FFFFFF;
    margin-bottom: 30px;
}

.input-fields textarea {
    width: 400px;
    height: 120px;
    font-size: 16px;
    background-color: transparent;
    border: none;
    outline: none;
    resize: none;
    display: block;
    padding: 10px;
    border-bottom: 1px solid #ffffff60;
    color: #FFFFFF;
}

.input-fields input::placeholder {
    color: #ffffff;
}

.input-fields textarea::placeholder {
    color: #ffffff;
}

.footer-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 100px;
    padding-bottom: 30px;
    max-width: 1280px;
    margin: 0 auto;
}

.footer-bottom span {
    font-size: 13px;
}

.footer-bottom div {
    display: flex;
    align-items: center;
}

.heart {
    margin-left: 10px;
}

.smartweb {
    margin-left: 30px;
}